*{
    margin: 0;
    padding: 0;
    font-family: "Yeseva One", serif, arial;
}


:root{
    --1: #60066b;
    --2: #a950b4; 
    --3: #cdbbd0;
}

header{
    padding: 20px 0px 25px 0px;
    border-color: #60066B ;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    margin: 0px 50px 0px 50px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 20px;
    color: var(--2);
    
}

.icons{
padding: 0px 0px 0px 100px;
display: flex;
flex-direction: row;
gap: 25px;
}

#entrar{
display: flex;
padding: 0px 0px 0px 0px;
}

.nav-list{
    padding: 15px 0px 0px 15px;
    display: flex;
    align-items:center;
    justify-content: center;
    gap:50px;
}

li{
    list-style-type: none;
    
}

a{
    text-decoration: none;
    color: var(--1);
}

a:hover{ 
    text-decoration:none ;
    color: var(--1);  
    transition: ease 0.2s;
    animation: fadeInLeft;
    animation-duration: 0.5s;
    

}

li a:active{
text-decoration:none ;
font-size: 30px;
}

.container-slider{
display: flex;
align-items: center;
justify-content: center;
box-shadow: 2px 2px 4px black;
min-height: 100vh;
width: 100vw;
gap: 1rem;
}

.container-images{
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 width: 700px;
}

.slider{
position: absolute;
width: 100%;
transition: opacity .2s;
opacity: 0;
}

.on{
opacity: 1;
}

#prev-button, #next-button{
width: 30px;
height: 30px;
border: none;
background-color: transparent;
cursor: pointer;
}

#prev-button i,#next-button i{
width: 100%;
height: 100%;

}
.produtos{
    size: 20;
    display: flex;
    justify-content:center;
    color: #a950b4;
    border-color: #60066B ;
    border-style: solid;
    border-width: 1px 0px 2px 0px;
    margin: 0px 50px 0px 50px;
    display: flex;
    flex-direction: row;
    
}
.biquini{
    size: 20;
    display: flex;
    justify-content: center;
    color: #a950b4;
    border-color: #60066B ;
    border-style: solid;
    border-width: 1px 0px 2px 0px;
    margin: 0px 50px 0px 50px;
    display: flex;
    flex-direction: row;
    

}
.short{ 
    size: 20;
    display: flex;
    justify-content: center;
    color: #a950b4;
    border-color: #60066B ;
    border-style: solid;
    border-width: 1px 0px 2px 0px;
    margin: 0px 50px 0px 50px;
    display: flex;
    flex-direction: row;

}
.top {
    size: 20;
    display: flex;
    justify-content: center;
    color: #a950b4;
    border-color: #60066B ;
    border-style: solid;
    border-width: 1px 0px 2px 0px;
    margin: 0px 50px 0px 50px;
    display: flex;
    flex-direction: row;
}
.vestido{
    size: 20;
    display: flex;
    justify-content: center;
    color: #a950b4;
    border-color: #60066B ;
    border-style: solid;
    border-width: 1px 0px 2px 0px;
    margin: 0px 50px 0px 50px;
    display: flex;
    flex-direction: row;
}

.dov{
display: flex;
justify-content: space-evenly;
padding-top: 30px;
}
.dov2{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    }

nav li a:hover{
    background-color: #a950b4;
}
.dropdown-menu{
position: absolute;
border: #a950b4;
display:none;
}
.dropdown-menu a{
    display: block;}

    .dropdown:hover .dropdown-menu{
        display: block;
    }

    .preco{
        justify-content:space-around;
        display: flex;
    }
    .preco2{
        justify-content:space-around;
        display: flex;
    }
.doo {
    display: flex;
    padding-left: 100px;
    padding-top: 30px;
    float: left;
    }
   .produtos2 {
    padding-top: 30px;
    padding-left: 950px;
    color: #60066B;
   }
   .produtos3 {
    padding-top: 130px;
    padding-left: 1120px;
    color: #60066B;
   }
   .button1{
    padding: 20px 20px;
    width: 150px;
    color: #60066B;
    display: flex;
    border-radius:50px ;
    text-align: center;
    user-select: none;
    cursor: pointer;
    margin-left: 1100px;
    background-color: #60066B;
    margin-top: 90px;
   }
  