*{
    margin: 0;
    padding: 0;
    font-family: "Yeseva One", serif, arial;
}
body {
    background-color: #f8f8f8;
}

:root{
    --1: #60066b;
    --2: #a950b4; 
    --3: #cdbbd0;
}

header{
    padding: 20px 0px 25px 0px;
    border-color: #60066B ;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    margin: 0px 50px 0px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    font-size: 20px;
    color: var(--2);
    
}

nav{
    padding: 10px 0px 15px 0px;
    margin: 0px 50px 0px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 20px;
    color: var(--2);
}

.icons{
padding: 0px 0px 0px 100px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 25px;
}

#entrar{
display: flex;
padding: 0px 0px 0px 0px;
}

.nav-list{
    padding: 15px 0px 0px 15px;
    display: flex;
    align-items:center;
    justify-content: center;
    gap:50px;
}

li{
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

a{
    background-color: transparent;
    text-decoration: none;
    border: none;
    color: var(--1);
    transition: 0.3s;
}

a:hover{ 
    /* background-color: #4a3e8e; */
    color: #58255f;
   }
    

.container-slider{
display: flex;
align-items: center;
justify-content: center;
box-shadow: 2px 2px 4px black;
min-height: 100vh;
width: 100vw;
gap: 1rem;
}

.container-images{
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 width: 700px;
}

.slider{
position: absolute;
width: 100%;
transition: opacity .2s;
opacity: 0;
}

.on{
opacity: 1;
}

.logo img{
    width: 80px;
    max-width: 100%;
    height: auto;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#prev-button, #next-button{
width: 30px;
height: 30px;
border: none;
background-color: transparent;
cursor: pointer;
}

#prev-button i,#next-button i{
width: 100%;
height: 100%;

}
.produtos{
    size: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a950b4;
    border-color: #60066B ;
    border-style: solid;
    border-width: 2px 0px 2px 0px;
    margin: 30px 50px 30px 50px;
    flex-direction: row;
}
/* pesquisa */

.box-busca{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
   
}
.search-box-input::placeholder {
    
    color:#1b1515;
    opacity: 0.8;
}
/* Chrome, Opera ySafari */
.search-box-input::-webkit-input-placeholder { color: #a950b4; }
/* IE 10+ y Edge */
.search-box-input:-ms-input-placeholder { color: #ffffff; }
.search-box form {
    
    display: flex;
    border-radius: 50px;
    background-color: #faf9f9;
    height: 45px;
}
.search-box:hover .search-box-input {
    
    padding-left: 2em;
    padding-right: 1em;
    width: 250px;
 
}
.search-box-input {
    outline: 0;
    font-size: 1.2em;
    color: #a950b4;
    width: 0;
    padding: 0;
    border: none;
    background: none;
    transition: .45s;
}
.search-box-button {
   display: flex;
   border-radius: 50%;
   width: 45px;
   height: 45px;
   background-color:transparent;
   border: none;
   cursor: pointer;
   transition: .3s;
}
.search-box-button:active  {
    transform: scale(.35);
}
.search-box-icone {
    margin: auto;
    color: #070707;
    
}
.icone{
    display: flex;
    padding-top:20px;
    padding-left:10px;
    color:var(--2)
}

@media screen and (min-width: 40px){
    
    .search-box:hover .search-box-input {
        width: 230px;
    }
}
/* PRODUTOS INICIAL */

   
main {
    background: transparent;
    padding-left: 5px;
    padding-bottom: 30px;
    margin-bottom: 150px;
}

#galeriaprod {
    text-align: center;
    margin-bottom: 150px;
}

#galeriaprod ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas com largura igual */
    gap: 60px; 
    padding: 0px 300px 0px 300px ;
}

#galeriaprod img {
    width: 300px; 
    max-width: 100%;
    height: auto; 
    box-shadow: 3px 2px 7px 2px #00000040;
}

.imgprod:hover {
    border: 2px solid var(--1);
}


#galeriaprod li {
    display: inline-block; 
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    cursor: pointer;
}

/* #galeriaprod img:hover {
    border: 2px solid var(--1);
} */

.nomeprod, .valorprod {
    color: #60066b;
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
}

.cardprod {
    text-align: center; 
}


li{
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

/* SEPARANDO */




nav li a:hover{
    background-color: #c994d1;
    border-radius: 0px;
    padding: 4px;
    }

.dropdown-menu1{
    width: 140px;
    height: 130px;
    position: absolute;
    border: #a950b4;
    display:none;
    background-color: whitesmoke;
    padding: 8px ;
    border-radius: 0px;
    z-index: 10;
    box-shadow: 3px 2px 7px 2px #00000036;
}

.dropdown-menu1 a{
    display: block;
     border-radius: 0px;
     padding: 2px ;
}

.dropdown-menu2{
    width: 135px;
    height: 75px;
    position: absolute;
    border: #a950b4;
    display:none;
    background-color: whitesmoke;
    padding: 8px ;
    border-radius: 0px;
    z-index: 10;
    box-shadow: 3px 2px 7px 2px #00000036;
}
.dropdown-menu2 a{
    display: block;
     border-radius: 0px;
     padding: 2px ;
}

    .dropdown:hover .dropdown-menu1{
        display: block;
        border-radius: 0px;
       
    }

.dropdown:hover .dropdown-menu1{
        
        display: block;
    }

    
    .dropdown:hover .dropdown-menu2{
        display: block;
        border-radius: 0px;
       
    }

.dropdown:hover .dropdown-menu2{
        
        display: block;
    }

    .doo {
        display: flex;
        padding-left: 100px;
        padding-top: 30px;
        float: left;
    }
    .produtos2 {
        padding-top: 30px;
        padding-left: 950px;
        color: #60066B;
    }
    .produtos3 {
        padding-top: 130px;
        padding-left: 1120px;
        color: #60066B;
    }
    .button1{
        padding: 20px 20px;
        width: 150px;
        color: #60066B;
        display: flex;
        border-radius:50px ;
        text-align: center;
        user-select: none;
        cursor: pointer;
        margin-left: 1100px;
        background-color: #60066B;
        margin-top: 90px;
    }
    
    /* section{
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .dov{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    font-size: 25px;
    
    }
    
     img{
    width: 300px;
    height: 300px;
    } */

    /* RODAPÉ */



.footer{
    background-color: var(--1);
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    padding: 10px 3px 50px 30px;
    gap: 80px;
   
}

footer a{
    text-decoration: none;
    color: whitesmoke;
}

footer a{
 font-size: 15px;
 padding: 5px 0 5px 0;
}

footer a:hover{
    text-decoration: none;
    color: #a18594;
}

footer p{
    z-index: 1;
    font-size: 20px;
}
    .foot1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       color: white;

    }

    .pay-icons{
        padding: 30px 30px 10px 30px;
        display: flex;
        gap: 10px;
    }

    .icons-foot{
        padding: 20px 30px 10px 30px;
        display: flex;
        gap: 10px;
        cursor: pointer;
    }

    .foot2{
        display: flex;
        flex-direction: column;
       color: white;
       align-items: center;
        justify-content: center;

    }
    
    .foot2 img{
        width: 120px;
        max-width: 100%;
    height: auto;
    }
    
    .foot3{
        display: flex;
        flex-direction: column;
       color: white;
       align-items: center;
        justify-content: center;

    }

    .foot4{

        display: flex;
       color: white;
       align-items: center;
        justify-content: center;
        background-color: var(--1);
        display: flex;
        flex-direction: row;
        align-items: center; 
        justify-content: center;
        padding: 20px 0px 25px 0px;
        margin: 0 0px 0 0px;
        gap: 80px;
        border-color: var(--3);
        border-style: solid;
        border-width: 2px 0px 0px 0px;

    }
