    *{
        margin: 0;
        padding: 0;
        font-family: "Yeseva One", serif, arial;
    }
    body {
        background-color: #f8f8f8;

    }


    :root{
        --1: #60066b;
        --2: #a950b4; 
        --3: #cdbbd0;
    }
    
    header{
        padding: 20px 0px 25px 0px;
        border-color: #60066B ;
        border-style: solid;
        border-width: 0px 0px 2px 0px;
        margin: 0px 50px 0px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 50px;
        font-size: 20px;
        color: var(--2);
        
    }

    nav{
        padding: 10px 0px 15px 0px;
        margin: 0px 50px 0px 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
        font-size: 20px;
        color: var(--2);
        /* position: fixed;
        background: #f8f8f8; */
    }

    .logo img{
        width: 80px;
    }

    .logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
.icons{
    padding: 0px 0px 0px 100px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

#entrar{
    display: flex;
    padding: 0px 0px 0px 0px;
}

.nav-list{
        padding: 15px 0px 0px 15px;
        display: flex;
        align-items:center;
        justify-content: center;
        gap:50px;
    }




/* produtos populares */
    .produtospop {
        background: var(--3);
        padding-left: 5px;
        padding-bottom: 30px;
        margin-bottom: 150px;
    }
    
    #galeriapop {
        text-align: center;
    }

    #galeriapop img {
        display: grid;
        grid-auto-flow: column;
        width: 260px;
        height: 296px;
        margin: 30px 17px 10px 17px;
        box-shadow: 3px 2px 7px 2px #00000036;
    }
    
    #galeriapop li {
        display: inline-block; /* alterado de flex para inline-block */
        justify-content: center;
        align-items: center;
        margin-right: 4px;
        cursor: pointer;
    }
    
    #galeriapop img:hover {
        border: 2px solid var(--1);
    }

    .nomepop{
        color: rgb(0, 0, 0);
        background-color:transparent;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size:20px ;
   }

   .valorpop{
    color: rgb(0, 0, 0);
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size:20px ;
}
    

    li{
        list-style-type: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    }

    a{
        background-color: transparent;
        text-decoration: none;
        border: none;
        color: var(--1);
        transition: 0.3s;
    }

   a:hover{ 
    color: #58255f;
   }

    /*menu produtos */
    
    .dropdown-menu1{
        width: 100px;
        height: 120px;
        position: absolute;
        border: #a950b4;
        display:none;
        background-color: whitesmoke;
        padding: 8px ;
        border-radius: 0px;
        z-index: 10;
        box-shadow: 3px 2px 7px 2px #00000036;
    }

    .dropdown-menu1 a{
        display: block;
         border-radius: 0px;
         padding: 2px ;
    }
    
    .dropdown-menu2{
        width: 110px;
        height: 65px;
        position: absolute;
        border: #a950b4;
        display:none;
        background-color: whitesmoke;
        padding: 8px ;
        border-radius: 0px;
        z-index: 10;
        box-shadow: 3px 2px 7px 2px #00000036;
    }
    .dropdown-menu2 a{
        display: block;
         border-radius: 0px;
         padding: 2px ;
    }
    
        .dropdown:hover .dropdown-menu1{
            display: block;
            border-radius: 0px;
           
        }
    
    .dropdown:hover .dropdown-menu1{
            
            display: block;
        }

        
        .dropdown:hover .dropdown-menu2{
            display: block;
            border-radius: 0px;
           
        }
    
    .dropdown:hover .dropdown-menu2{
            
            display: block;
        }

    #dov{
            display: flex;
            justify-content: center;
            }
            
 nav li a:hover{
            background-color:#c994d1;
            border-radius: 0px;
            padding: 4px;
            }


    /* carrossel */
   .container-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 170px 0px 200px 0px;
    /* box-shadow: 2px 2px 4px black; */
    min-height: 10vh ;
    gap: 1rem;
   }

   .container-images img{
    width: 1600px;;
    height: 400px;
   }

   .container-images{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     
   }

   .slider{
    position: absolute;
    width: 100%;
    transition: opacity .2s;
    opacity: 0;
   }

   .on{
    opacity: 1;
   }

   #prev-button, #next-button{
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index:1;
    color: rgb(255, 255, 255);
   }

   #prev-button i,#next-button i{
    width: 100%;
    height: 100%;

   }

  .sobre{
    size: 20;
    display: flex;
    justify-content: center;
    color: #a950b4;
    border-color: #60066B ;
    border-style: solid;
    border-width: 2px 0px 2px 0px;
    margin: 0px 50px 0px 50px;
    display: flex;
    flex-direction: row;
  }

   #text-1{
    margin: 300px 100px 150px 100px;
    padding: 25px 45px 25px 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid var(--3);
    border-radius: 20px;
   }
   
   #text-1 img{
    width: 300px;
   }

   #text-1 p{
    font-size: 25px;
    color: var(--1);
   }

   span{
    background-color:var(--3);
   }


   /* section produtos populares */

   .sec-2{ 
       background-color: var(--3);
   }

   h2{
    color: var(--1);
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 5px;
    font-size:30px ;
   }


   /* .pop-list, .pop-slider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

.pop-img{
    display: flex;
    flex-direction: column;
}

.pop-img img{ 
    width: 200px;} 
 
    .slide-button{
        width: 35px;
        height: 35px;
        color: var(--1);
        background: transparent;
        border: none;
        cursor: pointer;
    } */
   
    /* #prev-slide i:hover, #next-slide i:hover{
        text-decoration: none;
        color: #a18594;
    }

    #prev-slide i, #next-slide i{
        width: 100%;
        height: 100%;
        color: var(--1);
    } */

.titulo{
    size: 20;
    display: flex;
    justify-content:center;
    color: #60066B ;
    border:none;
    margin: 10px 50px 30px 50px;
    padding: 0px 50px 0px 50px;
    display: flex;
    flex-direction: row;
    background-color:#a18594;
    font-family: "Yeseva One", serif, arial;
}

.titu{
justify-content: flex;
color:#60066B;
margin: 0px 0px 3px 0px;
font-family: "Yeseva One", serif, arial;
}

.sub{
color:#a950b4;
font-family: "Yeseva One", serif, arial;
}

.img1{
margin: 19px 0px 0px 30px;
z-index: 1;
position:relative;
height: 680px;
width:780px;
}

.sub1 { height: 534px; width: 356px;
z-index:2;
position:absolute; left:242px; top: 406px; 

}

.img2{
margin: 0px 0px 0px 0px;
z-index: 1;
position:relative; left: 680px;
height: 680px;
width:780px;
}

.sub2{
z-index:2;
position: absolute; right:116px; top:1090px;
width: 369px; 
height:534px;
border-radius:30px;
}

.texto1{
position: absolute; left:700px; bottom: 20px;
color:#60066B;
padding: 0px 100px 0px 0px;
margin: 1600px 0px 0px 0px;
font-size:40px;
} 

.texto2{
    color:#60066B;
    font-size: 40px;
    position: absolute; left:50px; top:1220px;
    padding: 0px 610px 0px 90px;
    margin: 0px 0px 0px 90px;
}

.retangulo{
    position:absolute; top:1359px;
    width:1700px;
    height:1270px;
}

.circulos{
    display:flex;
    justify-content:space-evenly;
    position:relative; top:25px;
}

.circ1{
    width: 350px;
    height: 350px;
    position:relative; right:-6px;
}

.circ2{
    width: 350px;
    height: 350px;
    position:relative; right:-7px;
}

.circ3{
    width: 350px;
    height: 350px;
    position:relative; right:-62px;
}

.icones{
    position:absolute;
    justify-content: space-evenly;
    text-align: center;
}

.ico1{
    width:280px;
    position:relative; right: 135px; bottom:15px;
}

.ico2{
    width:329px;
    position:relative; right:10px; bottom:-13px;
}

.ico3{
    width:242px;
    position:relative; left:184px; bottom:32px;
}

.icotitu{
    position:absolute; top:270px;
    font-size: 35px;
    justify-content: space-between;
    display: flex;
    color:white;
    text-align: center;
}

.titu1{
    font-family:"Yeseva One", serif, arial;
    position:relative; right:303px;
}

.titu2{
    font-family:"Yeseva One", serif, arial;
    position:relative; left:15px;
}

.titu3{
    font-family:"Yeseva One", serif, arial;
    position:relative; left:377px;
}

.teto{
    display:flex;
    position:absolute;
    top: 345px;
    font-size:24px;
    color:#60066B;
    text-align: center;
}

.teto1{
   position:relative; left:100px;
}

.teto2{
    position:relative;
    left:112px;
    padding: 0px 120px 0px 0px;
}

.retangulo1{
    display:flex;
    position:absolute; top:2100px;
    width:1460px;
    height:1270px;
}


.proj{
    font-family: "Yeseva One", serif, arial;
    position:relative; top:390px;
    text-align:center;
    font-size:35px;
    color:#60066B;
}

.imgf{
    position:relative; top: 411px;
    height: 474px;
    width:690px;
}

.ltext{
    position:relative;
    top:80px;
    font-size: 29px;
    margin:0px 40px 0px 750px;
    color:#60066B;
}


/* RODAPÉ */



.footer{
    background-color: var(--1);
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    padding: 10px 3px 50px 30px;
    gap: 80px;
   
}

footer a{
    text-decoration: none;
    color: whitesmoke;
}

footer a{
 font-size: 15px;
 padding: 5px 0 5px 0;
}

footer a:hover{
    text-decoration: none;
    color: #a18594;
}

p{
    z-index: 1;
    font-size: 20px;
}
    .foot1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       color: white;

    }

    .pay-icons{
        padding: 30px 30px 10px 30px;
        display: flex;
        gap: 10px;
    }

    .icons-foot{
        padding: 20px 30px 10px 30px;
        display: flex;
        gap: 10px;
        cursor: pointer;
    }

    .foot2{
        display: flex;
        flex-direction: column;
       color: white;
       align-items: center;
        justify-content: center;

    }
    
    .foot2 img{
        width: 120px;
    }
    
    .foot3{
        display: flex;
        flex-direction: column;
       color: white;
       align-items: center;
        justify-content: center;

    }

    .foot4{

        display: flex;
       color: white;
       align-items: center;
        justify-content: center;
        background-color: var(--1);
        display: flex;
        flex-direction: row;
        align-items: center; 
        justify-content: center;
        padding: 20px 0px 25px 0px;
        margin: 0 0px 0 0px;
        gap: 80px;
        border-color: var(--3);
        border-style: solid;
        border-width: 2px 0px 0px 0px;

    }
    /* pesquisa */

.box-busca{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
   
}
.search-box-input::placeholder {
    
    color:#1b1515;
    opacity: 0.8;
}
/* Chrome, Opera ySafari */
.search-box-input::-webkit-input-placeholder { color: #a950b4; }
/* IE 10+ y Edge */
.search-box-input:-ms-input-placeholder { color: #ffffff; }
.search-box form {
    
    display: flex;
    border-radius: 50px;
    background-color: #faf9f9;
    height: 45px;
}
.search-box:hover .search-box-input {
    
    padding-left: 2em;
    padding-right: 1em;
    width: 250px;
 
}
.search-box-input {
    outline: 0;
    font-size: 1.2em;
    color: #a950b4;
    width: 0;
    padding: 0;
    border: none;
    background: none;
    transition: .45s;
}
.search-box-button {
   display: flex;
   border-radius: 50%;
   width: 45px;
   height: 45px;
   background-color:transparent;
   border: none;
   cursor: pointer;
   transition: .3s;
}
.search-box-button:active  {
    transform: scale(.35);
}
.search-box-icone {
    margin: auto;
    color: #070707;
    
}
.icone{
    display: flex;
    padding-top:20px;
    padding-left:10px;
    color:var(--2)
}

@media screen and (min-width: 40px){
    
    .search-box:hover .search-box-input {
        width: 230px;
    }
}
