    *{
        margin: 0;
        padding: 0;
        font-family: "Yeseva One", serif, arial;
    }
    body {
        background-color: #f8f8f8;

    }


    :root{
        --1: #60066b;
        --2: #a950b4; 
        --3: #cdbbd0;
    }
    
    header{
        padding: 20px 0px 25px 0px;
        border-color: #60066B ;
        border-style: solid;
        border-width: 0px 0px 2px 0px;
        margin: 0px 50px 0px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 50px;
        font-size: 20px;
        color: var(--2);
        animation: fadeInDown;
        animation-duration: 1s;
        
    }

    nav{
        padding: 10px 0px 15px 0px;
        margin: 0px 50px 0px 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
        font-size: 20px;
        color: var(--2);
        /* position: fixed;
        background: #f8f8f8; */
    }

    .logo img{
        width: 80px;
    }

    .logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
.icons{
    padding: 0px 0px 0px 100px;
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: row;
    gap: 25px;
}

#entrar{
    display: flex;
    padding: 0px 0px 0px 0px;
}

.nav-list{
        padding: 15px 0px 0px 15px;
        display: flex;
        align-items:center;
        justify-content: center;
        gap:50px;
       animation: fadeIn;
         animation-duration: 1.5s;
    }




/* produtos populares */
    .produtospop {
        background: var(--3);
        width: 100%;
        height: auto;
        padding-left: 5px;
        padding-bottom: 30px;
        margin-bottom: 150px;
    }
    
    #galeriapop {
        text-align: center;
    }

    #galeriapop img {
        display: grid;
        grid-auto-flow: column;
        width: 260px;
        height: 296px;
        margin: 30px 17px 10px 17px;
        box-shadow: 3px 2px 7px 2px #00000036;
    }
    
    #galeriapop li {
        display: inline-block; /* alterado de flex para inline-block */
        justify-content: center;
        align-items: center;
        margin-right: 4px;
        cursor: pointer;
    }
    
    #galeriapop img:hover {
        border: 2px solid var(--1);
    }

    .nomepop{
        color: rgb(0, 0, 0);
        background-color:transparent;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size:20px ;
   }

   .valorpop{
    color: rgb(0, 0, 0);
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size:20px ;
}
    

    li{
        list-style-type: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    }

    a{
        background-color: transparent;
        text-decoration: none;
        border: none;
        color: var(--1);
        transition: 0.3s;
    }

   a:hover{ 
    color: #58255f;
   }

.titulo{
    size: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a950b4;
    border-color: #60066B ;
    border-style: solid;
    border-width: 2px 0px 2px 0px;
    margin: 30px 50px 30px 50px;
    flex-direction: row;
}

    /*menu produtos */
    
    .dropdown-menu1{
        width: 140px;
        height: 130px;
        position: absolute;
        border: #a950b4;
        display:none;
        background-color: whitesmoke;
        padding: 8px ;
        border-radius: 0px;
        z-index: 10;
        box-shadow: 3px 2px 7px 2px #00000036;
    }

    .dropdown-menu1 a{
        display: block;
         border-radius: 0px;
         padding: 2px ;
    }
    
    .dropdown-menu2{
        width: 135px;
        height: 75px;
        position: absolute;
        border: #a950b4;
        display:none;
        background-color: whitesmoke;
        padding: 8px ;
        border-radius: 0px;
        z-index: 10;
        box-shadow: 3px 2px 7px 2px #00000036;
    }
    .dropdown-menu2 a{
        display: block;
         border-radius: 0px;
         padding: 2px ;
    }
    .dropdown-menu{
        width: 200px;
        height: 200px;
        position: absolute;
        border: #a950b4;
        display:none;
        background-color: whitesmoke;
        padding: 10px ;
        border-radius: 0px;
        z-index: 10;
        box-shadow: 3px 2px 7px 2px #00000036;
    }

    .dropdown-menu a{
        display: block;
         border-radius: 0px;
         padding: 2px ;
    }
    
        .dropdown:hover .dropdown-menu1{
            display: block;
            border-radius: 0px;
           
        }
    
    .dropdown:hover .dropdown-menu1{
            
            display: block;
        }

        
        .dropdown:hover .dropdown-menu2{
            display: block;
            border-radius: 0px;
           
        }
    
    .dropdown:hover .dropdown-menu2{
            
            display: block;
        }

        .dropdown:hover .dropdown-menu{
            display: block;
            border-radius: 0px;
           
        }
    
    .dropdown:hover .dropdown-menu{
            
            display: block;
        }

    #dov{
            display: flex;
            justify-content: center;
            }
            
 nav li a:hover{
            background-color:#c994d1;
            border-radius: 0px;
            padding: 4px;
            }


    /* carrossel */
   .container-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 170px 0px 200px 0px;
    /* box-shadow: 2px 2px 4px black; */
    min-height: 10vh ;
    gap: 1rem;
   }

   .container-images img{
    width: 100%;
    height: 400px;
   }

   .container-images{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     
   }
 
   .slider{
    position: absolute;
    width: 100%;
    transition: opacity .2s;
    opacity: 0;
   }

   .on{
    opacity: 1;
   }

  #prev-button, #next-button{
    width: 40px;
    height: 40px;
    border: none;
    background-color: var(--1);
    border-radius: 100%;
    cursor: pointer;
    z-index:1;
    color: rgb(255, 255, 255);
   }

   #prev-button i,#next-button i{
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
   }

  .sobre{
    size: 20;
    display: flex;
    justify-content: center;
    color: #a950b4;
    border-color: #60066B ;
    border-style: solid;
    border-width: 2px 0px 2px 0px;
    margin: 0px 50px 0px 50px;
    display: flex;
    flex-direction: row;
  }

   #text-1{
    margin: 300px 100px 150px 100px;
    padding: 25px 45px 25px 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid var(--3);
    border-radius: 20px;
   }
   
   #text-1 img{
    width: 300px;
   }

   #text-1 p{
    font-size: 25px;
    color: var(--1);
   }

   span{
    background-color:var(--3);
   }


/* carrossel da pagina individual dos produtos */


            .clicksection{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                padding-top: 100px;
                height: 600px;
            }

            .rightclickprod {
                width: 100%;
                padding-left: 0px;
            }

            .leftclickprod {
                width: 100%;
                height: auto;
                padding-left: 300px;
                /* padding: 10px 40px 40px 400px; */
           }
        

           .leftclickprod img{
            border: solid 1.5px var(--1);
            border-radius: 3px;
            box-shadow:3px 2px 7px 2px #00000040;
           }

           
           
           .rightclickprod h5{
            color: #990eac;
            padding-bottom: 10px;
           }
           .price{ 
                align-self: center;
                font-size: 20px;
                background: transparent;

           }

           .quero{
                font-size: 30px;
                background: var(--3);
                padding: 10px;
                border: 1px solid var(--1);
                border-radius: 5px;
           }
           
            
            .click-slider{
                display: flex;
                align-self: flex-end;
                justify-content: center;
                margin: 170px 0px 200px 0px;
                min-height: 10vh ;
                gap: 1rem;
               }
            
               .click-images img{
                width: 490px;
                height: auto;
               }
            
               .click-images{
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 width: 100%;
               }

   h2{
    color: var(--1);
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 5px;
    font-size:30px ;
   }

.outrosprodutos{
    padding-left: 40%;
}


/* Sobre nós*/

.sinicio{
      display:flex;
      flex-direction: column;
      text-align:center;
}

.sub{
    font-size:45px;
}

.sub1{
    color:#a950b4;
    font-size:20px;
}

.simag1{
    display:flex;
    flex-direction: row;
    text-align: left;
    margin:100px 0px 0px 50px;
}

.mage1{
     background-color: #CDBBD0;
     border-radius: 45px;
     height:550px;
     width:450px;
}

.smage1{
    font-size:35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#60066B;
    margin: 110px 40px 0px 80px;
}


.simag2{
    display:flex;
    flex-direction: row; 
    transform: rotateY(180deg);  
}

.mage2{
    background-color: #CDBBD0;
    border-radius: 45px;
    height:500px;
    width:400px;
}

.smage2{
    font-size:35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#60066B;
    margin: 110px 40px 0px 80px;
    transform: rotateY(180deg);
}

.informativo1{
    position:relative;
    background-color: #CDBBD0;
    width:auto;
    align-items: center;
    text-align: center;
    margin:100px 0px 100px 0px;
    padding: 0px 0px -800px 0px;
    display:grid;
    gap:25px;
}

.sicones{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    position:relative; bottom:70px;

}

.sirc{
    width:450px;
    height:450px
}

.sititu1{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    position:relative;
    top:-165px;    
}

.si1{
    font-size: 40px;
    color:white;
    margin:0px 0px 0px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.sititu2{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    position: relative;
    top:-120px;
}

.si2{
    padding:0px 30px 0px 30px;
    color:var(--1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}


.informativo2{
    display:flex;
    flex-direction: row;
    background-color:var(--3);
    margin:0px 0px 90px 0px;

}

.sit3{
     color:#60066B;
     font-size: 40px;
     display:flex;
     justify-content: center;
     position:relative;
     top:-20px;
}

.si3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 120px 0px 0px 30px;
    color:#60066B;
    font-size: 30px;

}


    /*Linhas Reciclaveis*/

.ltitu{
    border-top:#60066B solid 2px;
    border-bottom:#60066B solid 2px;
}

.disc1{
    position:relative;
    display:flex;
    align-items: center;
    flex-direction: column;
    color:#60066B;
}

.limg1{
    border-radius:700px;
    box-shadow:3px 2px 7px 2px #00000040;
    height:250px;
    width: 300px;
}

.ltitu1{
    font-size: 35px;
    margin:25px;
}

.lteto1{
    margin: 10px 200px 0px 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    position:relative;
}

.disc2{
    position:relative;
    display:flex;
    align-items: center;
    flex-direction: column;
    color:#60066B;
}

.limg2{
    border-radius:700px;
    box-shadow:3px 2px 7px 2px #00000040;
    height:250px;
    width:300px;
}

.lteto2{
    margin: 10px 200px 0px 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    position:relative;
}

.ltitu2{
    font-size: 35px;
    margin:25px;
}

.disc3{
    position:relative;
    display:flex;
    align-items: center;
    flex-direction: column;
    color:#60066B;
    margin:55px;
}

.limg3{
    border-radius:700px;
    box-shadow:3px 2px 7px 2px #00000040;
    height:250px;
    width:300px;
}

.ltitu3{
    font-size: 35px;
    margin:25px;
}

.lteto3{
    margin: 10px 200px 0px 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    position:relative;
}

.eli{
    background-color: #a18594;
    margin: 20px 400px 70px 400px;
    padding:50px 0px 50px 0px;
}

.litens{
    text-align: center;
    font-size: 28px;
     color:#60066B;
}

.listali{
    list-style-type: none;
    display:flex;
    flex-direction: column;
    text-align: center;
    margin:15px;
    gap:15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color:#60066B;
}



/* RODAPÉ */



.footer{
    background-color: var(--1);
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    padding: 10px 3px 50px 30px;
    gap: 80px;
   
}

footer a{
    text-decoration: none;
    color: whitesmoke;
}

footer a{
 font-size: 15px;
 padding: 5px 0 5px 0;
}

footer a:hover{
    text-decoration: none;
    color: #a18594;
}

footer p{
    z-index: 1;
    font-size: 20px;
}
    .foot1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       color: white;

    }

    .pay-icons{
        padding: 30px 30px 10px 30px;
        display: flex;
        gap: 10px;
    }

    .icons-foot{
        padding: 20px 30px 10px 30px;
        display: flex;
        gap: 10px;
        cursor: pointer;
    }

    .foot2{
        display: flex;
        flex-direction: column;
       color: white;
       align-items: center;
        justify-content: center;

    }
    
    .foot2 img{
        width: 120px;
    }
    
    .foot3{
        display: flex;
        flex-direction: column;
       color: white;
       align-items: center;
        justify-content: center;

    }

    .foot4{

        display: flex;
       color: white;
       align-items: center;
        justify-content: center;
        background-color: var(--1);
        display: flex;
        flex-direction: row;
        align-items: center; 
        justify-content: center;
        padding: 20px 0px 25px 0px;
        margin: 0 0px 0 0px;
        gap: 80px;
        border-color: var(--3);
        border-style: solid;
        border-width: 2px 0px 0px 0px;

    }
    /* pesquisa */

.box-busca{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
   
}
.search-box-input::placeholder {
    
    color:#1b1515;
    opacity: 0.8;
}
/* Chrome, Opera ySafari */
.search-box-input::-webkit-input-placeholder { color: #a950b4; }
/* IE 10+ y Edge */
.search-box-input:-ms-input-placeholder { color: #ffffff; }
.search-box form {
    
    display: flex;
    border-radius: 50px;
    background-color: #faf9f9;
    height: 45px;
}
.search-box:hover .search-box-input {
    
    padding-left: 2em;
    padding-right: 1em;
    width: 250px;
 
}
.search-box-input {
    outline: 0;
    font-size: 1.2em;
    color: #a950b4;
    width: 0;
    padding: 0;
    border: none;
    background: none;
    transition: .45s;
}
.search-box-button {
   display: flex;
   border-radius: 50%;
   width: 45px;
   height: 45px;
   background-color:transparent;
   border: none;
   cursor: pointer;
   transition: .3s;
}
.search-box-button:active  {
    transform: scale(.35);
}
.search-box-icone {
    margin: auto;
    color: #070707;
    
}
.icone{
    display: flex;
    padding-top:20px;
    padding-left:10px;
    color:var(--2)
}

/* PAGINA DE PERGUNTAS FREQUENTES AQUIII */

.faq{
    display: flex;
    align-items: center; 
    justify-content: center;
    margin: 40px 40px 40px 40px;
    
}

.faq-question{
    font-size: 40px;
    color: var(--1);
    display: flex;
    align-items: center; 
    justify-content: center;
    cursor: pointer;
    background-color: var(--3);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin: 20px;
}

.faq-answer{
    font-size: 25px;
    color: var(--1);
    display: flex;
    align-items: center; 
    justify-content: center;
    cursor: pointer;
    background-color: whitesmoke;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 3px 2px 7px 2px #00000036;
}


summary::-webkit-details-marker {
    display: none
  }
  summary:after {
    background: transparent; 
    content: "+"; 
    color: var(--1); 
    float: left;  
    font-weight: bold; 
    padding: 5px 0px 5px 100px; 
    text-align: center; 
    width: 20px;
    left: 20px;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
  }
  details[open] summary:after {
    content: "—";
  }


@media screen and (min-width: 40px){
    
    .search-box:hover .search-box-input {
        width: 230px;
    }
}
