*{
    margin: 0;
    padding: 0;
    font-family: "Yeseva One", serif, arial;
}


:root{
    --1: #60066b;
    --2: #a950b4; 
    --3: #cdbbd0;
}

header{
    padding: 20px 0px 25px 0px;
    border-color: #60066B ;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    margin: 0px 50px 0px 50px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 20px;
    color: var(--2);
    
}

.icons{
padding: 0px 0px 0px 100px;
display: flex;
flex-direction: row;
gap: 25px;
}

#entrar{
display: flex;
padding: 0px 0px 0px 0px;
}

.nav-list{
    padding: 15px 0px 0px 15px;
    display: flex;
    align-items:center;
    justify-content: center;
    gap:50px;
}

li{
    list-style-type: none;
    
}

a{
    text-decoration: none;
    color: var(--1);
}

a:hover{ 
    text-decoration:none ;
    color: var(--1);  
    transition: ease 0.2s;
    animation: fadeInLeft;
    animation-duration: 0.5s;
    

}

li a:active{
text-decoration:none ;
font-size: 30px;
}

.container-slider{
display: flex;
align-items: center;
justify-content: center;
box-shadow: 2px 2px 4px black;
min-height: 100vh;
width: 100vw;
gap: 1rem;
}

.container-images{
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 width: 700px;
}

.slider{
position: absolute;
width: 100%;
transition: opacity .2s;
opacity: 0;
}

.on{
opacity: 1;
}

#prev-button, #next-button{
width: 30px;
height: 30px;
border: none;
background-color: transparent;
cursor: pointer;
}

#prev-button i,#next-button i{
width: 100%;
height: 100%;

}
.produtos{
    size: 20;
    display: flex;
    justify-content:center;
    color: #a950b4;
    border-color: #60066B ;
    border-style: solid;
    border-width: 1px 0px 2px 0px;
    margin: 0px 50px 0px 50px;
    display: flex;
    flex-direction: row;
    
}
.biquini{
    size: 20;
    display: flex;
    justify-content: center;
    color: #a950b4;
    border-color: #60066B ;
    border-style: solid;
    border-width: 1px 0px 2px 0px;
    margin: 0px 50px 0px 50px;
    display: flex;
    flex-direction: row;
    

}
.short{ 
    size: 20;
    display: flex;
    justify-content: center;
    color: #a950b4;
    border-color: #60066B ;
    border-style: solid;
    border-width: 1px 0px 2px 0px;
    margin: 0px 50px 0px 50px;
    display: flex;
    flex-direction: row;

}
.top {
    size: 20;
    display: flex;
    justify-content: center;
    color: #a950b4;
    border-color: #60066B ;
    border-style: solid;
    border-width: 1px 0px 2px 0px;
    margin: 0px 50px 0px 50px;
    display: flex;
    flex-direction: row;
}
.vestido{
    size: 20;
    display: flex;
    justify-content: center;
    color: #a950b4;
    border-color: #60066B ;
    border-style: solid;
    border-width: 1px 0px 2px 0px;
    margin: 0px 50px 0px 50px;
    display: flex;
    flex-direction: row;
}

/* PRODUTOS INICIAL */
 #galeria > div{
    float: left;
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
 }

 .foto img{
    width: 100%;
    display: block;
 }

 .detalhes{
    display: none;
 }

 .foto:target{
    position: fixed;
    width: 100%;
    top: 100px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center ;
    left: 25%;
    box-shadow: 0 0 25px 10 #000;
    border-radius: 10px;
    /* background-color: var(--3); */
 }

 .foto:target .detalhes{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
z-index: 1;
font-size: 35px;

 }
 

 .foto:target img{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
   align-items: center;
   margin-left: 300px;
   border-radius: 10px;
   background-color: var(--3);
   padding: 20px 500px 20px 20px;
 }

 

/* SEPARANDO */




nav li a:hover{
    background-color:#d6cbcb;
    border-radius: 10px;
    padding: 4px;
}
.dropdown-menu{
    position: absolute;
    border: #a950b4;
    display:none;
    background-color: whitesmoke;
    padding: 8px ;
    border-radius: 10px;
    z-index: 1;
}
.dropdown-menu a{
    display: block;
     border-radius: 10px;
     padding: 2px ;
}
    
    .dropdown:hover .dropdown-menu{
        display: block;
        border-radius: 10px;
       
    }
    
    .button1{
        padding: 20px 20px;
        width: 150px;
        color: #60066B;
        display: flex;
        border-radius:50px ;
        text-align: center;
        user-select: none;
        cursor: pointer;
        margin-left: 1100px;
        background-color: #60066B;
        margin-top: 90px;
    }
    
    /* section{
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .dov{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    font-size: 25px;
    
    }
    
     img{
    width: 300px;
    height: 300px;
    } */