    *{
        margin: 0;
        padding: 0;
        font-family: "Yeseva One", serif, arial;
    }


    :root{
        --1: #60066b;
        --2: #a950b4; 
        --3: #cdbbd0;
    }
    
    header{
        padding: 20px 0px 25px 0px;
        border-color: #60066B ;
        border-style: solid;
        border-width: 0px 0px 2px 0px;
        margin: 0px 50px 0px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 50px;
        font-size: 20px;
        color: var(--2);
        
    }

    nav{
        padding: 10px 0px 15px 0px;
        margin: 0px 50px 0px 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
        font-size: 20px;
        color: var(--2);
    }
    
.icons{
    padding: 0px 0px 0px 100px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

#entrar{
    display: flex;
    padding: 0px 0px 0px 0px;
}

.nav-list{
        padding: 15px 0px 0px 15px;
        display: flex;
        align-items:center;
        justify-content: center;
        gap:50px;
    }

    li{
        list-style-type: none;
        
    }

    a{
        text-decoration: none;
        color: var(--1);
    }

   a:hover{ 
        text-decoration:none ;
        color: var(--1);  

        /* transition: ease 0.2s;
        animation: fadeInLeft;
        animation-duration: 0.5s; */
        

   }

   li a:active{
    text-decoration:none ;
    font-size: 30px;
   }

    /* menu produtos */
   .dropdown-menu{
    position: absolute;
    border: #a950b4;
    display:none;
    background-color: whitesmoke;
    padding: 8px ;
    border-radius: 5px;
    z-index: 1;
    }
    .dropdown-menu a{
        
        display: block;}
    
 .dropdown:hover .dropdown-menu{
            
            display: block;
        }

    #dov{
            display: flex;
            justify-content: center;
            }
            
 nav li a:hover{
                background-color:var(--3);
            }


    /* carrossel */
   .container-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 170px 0px 200px 0px;
    /* box-shadow: 2px 2px 4px black; */
    min-height: 10vh ;
    gap: 1rem;
   }

   .container-images img{
    width:100%;
    height: 400px;
   }

   .container-images{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     
   }

   .slider{
    position: absolute;
    width: 100%;
    transition: opacity .2s;
    opacity: 0;
   }

   .on{
    opacity: 1;
   }

   #prev-button, #next-button{
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index:1;
    color: whitesmoke;
   }

   #prev-button i,#next-button i{
    width: 100%;
    height: 100%;

   }
 

   #text-1{
    margin: 300px 100px 150px 100px;
    padding: 25px 45px 25px 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid var(--3);
    border-radius: 20px;
   }
   
   #text-1 img{
    width: 300px;
   }

   #text-1 p{
    font-size: 25px;
    color: var(--1);
   }

   span{
    background-color: var(--3);
   }


   /* section produtos populares */

   .sec-2{ 
       background-color: var(--3);
   }

   h2{
    color: var(--1);
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 5px;
    font-size:30px ;
   }

   .pop-list, .pop-slider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

.pop-img{
    display: flex;
    flex-direction: column;
}

.pop-img img{ 
    width: 200px;} 
 
    .slide-button{
        width: 35px;
        height: 35px;
        color: var(--1);
        background: transparent;
        border: none;
        cursor: pointer;
    }
   
    #prev-slide i:hover, #next-slide i:hover{
        text-decoration: none;
        color: #a18594;
    }



    #prev-slide i, #next-slide i{
        width: 100%;
        height: 100%;
        color: var(--1);
    }
/* 
    #prev-slide, #next-slide{
        display: flex;
        align-items: center;
        justify-content: center;
    } */

        /* @media(min-width: 1024px) {
            .container-slider{
                overflow: hidden;
                width: 700px;
                height: 400px;
                margin: 0 auto;
            } */