    *{
        margin: 0;
        padding: 0;
        font-family: "Yeseva One", serif, arial;
    }
    body {
        background-color: #f9f9f9;
    }


    :root{
        --1: #60066b;
        --2: #a950b4; 
        --3: #cdbbd0;
    }
    
    header{
        padding: 20px 0px 25px 0px;
        border-color: #60066B ;
        border-style: solid;
        border-width: 0px 0px 2px 0px;
        margin: 0px 50px 0px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 50px;
        font-size: 20px;
        color: var(--2);
        
    }

    nav{
        padding: 10px 0px 15px 0px;
        margin: 0px 50px 0px 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
        font-size: 20px;
        color: var(--2);
    }
    
.icons{
    padding: 0px 0px 0px 100px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

#entrar{
    display: flex;
    padding: 0px 0px 0px 0px;
}

.nav-list{
        padding: 15px 0px 0px 15px;
        display: flex;
        align-items:center;
        justify-content: center;
        gap:50px;
    }

    li{
        list-style-type: none;
        
    }

    a{
        text-decoration: none;
        color: var(--1);
    }

   a:hover{ 
        text-decoration:none ;
        color: var(--1);  

        /* transition: ease 0.2s;
        animation: fadeInLeft;
        animation-duration: 0.5s; */
        

   }

   li a:active{
    text-decoration:none ;
    font-size: 30px;
   }

    /* menu produtos */
    .dropdown-menu{
        position: absolute;
        border: #a950b4;
        display:none;
        background-color: whitesmoke;
        padding: 8px ;
        border-radius: 10px;
        z-index: 1;
    }
    .dropdown-menu a{
        display: block;
         border-radius: 10px;
         padding: 2px ;
    }
        
        .dropdown:hover .dropdown-menu{
            display: block;
            border-radius: 10px;
           
        }
    
 .dropdown:hover .dropdown-menu{
            
            display: block;
        }

    #dov{
            display: flex;
            justify-content: center;
            }
            
 nav li a:hover{
                background-color:var(--2);
               border-radius: 10px;
               padding: 4px;
            }


    /* carrossel */
   .container-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 170px 0px 200px 0px;
    /* box-shadow: 2px 2px 4px black; */
    min-height: 10vh ;
    gap: 1rem;
   }

   .container-images img{
    width: 1890px;;
    height: 400px;
   }

   .container-images{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     
   }

   .slider{
    position: absolute;
    width: 100%;
    transition: opacity .2s;
    opacity: 0;
   }

   .on{
    opacity: 1;
   }

   #prev-button, #next-button{
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index:1;
    color: whitesmoke;
   }

   #prev-button i,#next-button i{
    width: 100%;
    height: 100%;

   }
 

   #text-1{
    margin: 300px 100px 150px 100px;
    padding: 25px 45px 25px 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid var(--3);
    border-radius: 20px;
   }
   
   #text-1 img{
    width: 300px;
   }

   #text-1 p{
    font-size: 25px;
    color: var(--1);
   }

   span{
    background-color:var(--3);
   }


   /* section produtos populares */

   .sec-2{ 
       background-color: var(--3);
   }

   h2{
    color: var(--1);
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 5px;
    font-size:30px ;
   }

   .pop-list, .pop-slider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

.pop-img{
    display: flex;
    flex-direction: column;
}

.pop-img img{ 
    width: 200px;} 
 
    .slide-button{
        width: 35px;
        height: 35px;
        color: var(--1);
        background: transparent;
        border: none;
        cursor: pointer;
    }
   
    #prev-slide i:hover, #next-slide i:hover{
        text-decoration: none;
        color: #a18594;
    }



    #prev-slide i, #next-slide i{
        width: 100%;
        height: 100%;
        color: var(--1);
    }

    /*body{
        display: flex;
        padding: 0 35px;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    .wrapper {
        max-width: 1200px
        position: relative;
    }

    .wrapper i{
        top: 50%;
        height: 45px;
        width: 45px;
        cursor: pointer;
        position:absolute;
        font-size: 1.2rem;
        text-align: center;
        line-height: 46px;
        background:#5600615e;
        border-radius: 50%;
        transform: translateY(-50%)
    }

.wrapper i:first-child{
    left: -23px;
}

.wrapper i:last-child{
    right: -23px;
}

    .wrapper .carousel{
        font-size: 0px;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
    }

    .carousel img{
        height: 340px;
        object-fit: cover;
        margin-left: 14px;
        width: calc(100% / 3);
    }

.carousel img:first-child{
    margin-left: 0px;
}*/

/* 
    #prev-slide, #next-slide{
        display: flex;
        align-items: center;
        justify-content: center;
    } */

        /* @media(min-width: 1024px) {
            .container-slider{
                overflow: hidden;
                width: 700px;
                height: 400px;
                margin: 0 auto;
            } */


   /*Style da página sobre nós */

.titulo{
    size: 20;
    display: flex;
    justify-content:center;
    color: #60066B ;
    border:none;
    margin: 10px 50px 30px 50px;
    padding: 0px 50px 0px 50px;
    display: flex;
    flex-direction: row;
    background-color:#a18594;
    font-family: "Yeseva One", serif, arial;
}

.titu{
justify-content: flex;
color:#60066B;
margin: 0px 0px 3px 0px;
font-family: "Yeseva One", serif, arial;
}

.sub{
color:#a950b4;
font-family: "Yeseva One", serif, arial;
}

.img1{
margin: 30px 0px 0px 30px;
z-index: 1;
position:relative;
height: 680px;
width:780px;
}

.sub1 { height: 532px; width: 356px;
z-index:2;
position:absolute; left:242px; top: 413px; 

}

.img2{
margin: 0px 0px 0px 0px;
z-index: 1;
position:relative; left: 680px;
height: 680px;
width:780px;
}

.sub2{
z-index:2;
position: absolute; right:210px; top:1096px;
width: 370px; 
height:533px;
border-radius:30px;
}

.texto1{
position: absolute; left:700px; bottom: 20px;
color:#60066B;
padding: 0px 100px 0px 0px;
margin: 1600px 0px 0px 0px;
font-size:40px;
} 

.texto2{
    color:#60066B;
    font-size: 40px;
    position: absolute; left:50px; top:1250px;
    padding: 0px 690px 0px 90px;
    margin: 0px 0px 0px 90px;
}

.retangulo{
    position:absolute;
    width:1470px;
    height:1270px;
}

.circulos{
    display:flex;
    justify-content:space-evenly;
    position:relative; top:325px;
}

.circ1{
    width: 350px;
    height: 350px;
}

.circ2{
    width: 350px;
    height: 350px;
}

.circ3{
    width: 350px;
    height: 350px;
}

.icones{
    position:absolute;
    justify-content: space-evenly;
}

.ico1{
    width:280px;
    position:relative; right:135px; bottom:50px;
}

.ico2{
    width:350px;
    position:relative; right:34px; bottom:-18px;
}

.ico3{
    width:270px;
    position:relative; left:119px; bottom:18px;
}

.icotitu{
    position:absolute; top:310px;
    font-size: 35px;
    justify-content: space-between;
    display: flex;
    color:white;
}

.titu1{
    font-family:"Yeseva One", serif, arial;
    position:relative; right:354px;
}

.titu2{
    font-family:"Yeseva One", serif, arial;
    position:relative; left:11px;
}

.titu3{
    font-family:"Yeseva One", serif, arial;
    position:relative; left:362px;
}

